<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="video.mapper.AuditLogMapper">
    <insert id="insertAuditLog" parameterType="video.domain.model.AuditLogRecordModel">
        INSERT INTO bzh_audit_log (action, detail, operator, create_time)
        VALUES (#{action}, #{detail}, #{operator}, #{createTime})
    </insert>
</mapper>